<h1>Welcome <%= @users.last_name %> </h1>
<a href='/logout'>LogOut</a>
<!-- <hr />
  <form action="/users/<%= @users.id %>/update" method='get'>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type='submit' value='edit' />
  </form>
  <form action="/delete/<%= @users.id %>" method='post'>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type='hidden' name ='_method' value='delete'>
    <input type='submit' value='Delete My Account' />
  </form> -->
